.App__app__3l6tU {
	margin: 2rem;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.Info__vehicleInfo__31EJU {
	display: block;
	width: 75rem;
	height: 140rem;
	padding: 3rem;
	background-color: rgb(246, 246, 246);
	/* max-width: 26rem; */
}

.InfoDetails__infoDetails__1q9vF {
	width: 100%;
	padding: 4rem;
	background-color: rgb(255, 255, 255);
}

.InfoDetails__row__2jE1l {
	max-width: 114rem;
	margin: 0 auto;
	/* margin-bottom: 8rem; */
}
/* Clear Fix */
.InfoDetails__row__2jE1l::after {
	content: "";
	display: table;
	clear: both;
}

.InfoDetails__col-1-of-2__TmKZf {
	width: calc((100% - 4rem) / 2);
	float: left;
	/* background-color: red; */
}
.InfoDetails__col-1-of-2__TmKZf:not(:last-child) {
	margin-right: 4rem;
}

.InfoDetails__borderBottom__wNARC {
	border-bottom: 1px solid rgb(229, 229, 229);
}

/* colors */
.InfoDetails__grey-dark__2cPHU {
	color: rgb(166, 166, 166);
}
.InfoDetails__grey-dark-2__2rj5i {
	color: rgb(95, 95, 95);
}
.InfoDetails__grey-dark-3__1wz9F {
	color: rgb(26, 26, 26);
}
.InfoDetails__black__22p6K {
	color: rgb(0, 0, 0);
}
.InfoDetails__primary__19YVq {
	color: rgb(252, 91, 32);
}
.InfoDetails__primary-light__3yRTK {
	color: rgb(255, 90, 0);
}
.InfoDetails__primary-dark__YRU9K {
	color: rgb(239, 85, 0);
}

/* typography */

.InfoDetails__font-XXL__im5L9 {
	font-size: 8rem;
}
.InfoDetails__font-XL__1kjsw {
	font-size: 6rem;
}
.InfoDetails__font-L__jAuxL {
	font-size: 4rem;
}
.InfoDetails__font-M__xkuyU {
	font-size: 2.4rem;
}
.InfoDetails__font-S__3Vt0d {
	font-size: 1.8rem;
}

.InfoDetails__uppercase__2FxME {
	text-transform: uppercase;
}

.ProductRequestForm__formWrapper__1FOlX {
	position: relative;
}

.ProductRequestForm__formContainer__1QlgS {
	/* position: absolute; */
	width: 45rem;
	padding: 20px 12px 20px 20px;
	font: 13px Arial, Helvetica, sans-serif;
	background-color: white;
}

.ProductRequestForm__formHeader__1ZZ3f {
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
}

.ProductRequestForm__formWrapper__1FOlX label {
	display: inline;
	margin: 0 0 15px 0;
}

.ProductRequestForm__formWrapper__1FOlX label > span {
	width: 20rem;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}

/* COLOR */
.ProductRequestForm__red__1LsQi {
	color: red;
}

/* fields */
.ProductRequestForm__formWrapper__1FOlX input.ProductRequestForm__inputField__38yPw,
.ProductRequestForm__formWrapper__1FOlX .ProductRequestForm__selectField__3Bdwo {
	width: 48%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #c2c2c2;
	box-shadow: 1px 1px 4px #ebebeb;
	-moz-box-shadow: 1px 1px 4px #ebebeb;
	-webkit-box-shadow: 1px 1px 4px #ebebeb;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}

.ProductRequestForm__formWrapper__1FOlX .ProductRequestForm__inputField__38yPw:focus,
.ProductRequestForm__formWrapper__1FOlX .ProductRequestForm__selectField__3Bdwo:focus {
	border: 1px solid #0c0;
}

/* */
.ProductRequestForm__formWrapper__1FOlX input[type="submit"],
.ProductRequestForm__formWrapper__1FOlX input[type="reset"] {
	border: none;
	padding: 8px 15px 8px 15px;
	margin-right: 3px;
	background: #ff8500;
	color: #fff;
	box-shadow: 1px 1px 4px #dadada;
	-moz-box-shadow: 1px 1px 4px #dadada;
	-webkit-box-shadow: 1px 1px 4px #dadada;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.ProductRequestForm__formWrapper__1FOlX input[type="submit"]:hover,
.ProductRequestForm__formWrapper__1FOlX input[type="reset"]:hover {
	background: #ea7b00;
	color: #fff;
}

.ProductRequestForm__buttons__Mev8z {
	margin-top: 1rem;
	margin-left: 25rem;
}

